.customPading {
  padding-left: 250px;
}

@media (min-width: 1800px) and (max-width: 1880px) {
  .customPading {
    padding-left: 200px;
  }
}

@media (min-width: 1750px) and (max-width: 1799px) {
  .customPading {
    padding-left: 180px;
  }
}

@media (min-width: 1700px) and (max-width: 1749px) {
  .customPading {
    padding-left: 160px;
  }
}

@media (min-width: 1650px) and (max-width: 1699px) {
  .customPading {
    padding-left: 140px;
  }
}

@media (min-width: 1600px) and (max-width: 1649px) {
  .customPading {
    padding-left: 100px;
  }
}

@media (min-width: 1550px) and (max-width: 1599px) {
  .customPading {
    padding-left: 70px;
  }
}

@media (min-width: 1500px) and (max-width: 1549px) {
  .customPading {
    padding-left: 65px;
  }
}

@media (min-width: 1450px) and (max-width: 1499px) {
  .customPading {
    padding-left: 65px;
  }
}
@media (min-width: 1400px) and (max-width: 1449px) {
  .customPading {
    padding-left: 45px;
  }
}

@media (min-width: 1350px) and (max-width: 1399px) {
  .customPading {
    padding-left: 35px;
  }
}

@media (min-width: 1300px) and (max-width: 1349px) {
  .customPading {
    padding-left: 30px;
  }
}

@media (min-width: 400px) and (max-width: 1299px) {
  .customPading {
    padding-left: 30px;
  }
}

@media screen and (max-width: 399px) {
  .customPading {
    padding-left: 0px;
  }
}
