<configuration>
 <appSettings>
  <!--
  All appSettings are made available to your Node.js app via environment 
  variables
  You can access them in your app through the process.env object.
            
  process.env.<key>
  -->
  <add key="NEXT_PUBLIC_API_URL" value="" />
  <add key="JWT_SECRET" value="" />
  <add key="NEXTAUTH_CALLBACK_URL" value="" />
  <add key="BACKEND_API" value="" />
 </appSettings>
 <system.webServer>
  <iisnode node_env="production"
                 nodeProcessCountPerApplication="1"
                 maxConcurrentRequestsPerProcess="1024"
                 maxNamedPipeConnectionRetry="100"
                 namedPipeConnectionRetryDelay="250"
                 maxNamedPipeConnectionPoolSize="512"
                 maxNamedPipePooledConnectionAge="30000"
                 asyncCompletionThreadCount="0"
                 initialRequestBufferSize="4096"
                 maxRequestBufferSize="65536"
                 uncFileChangesPollingInterval="5000"
                 gracefulShutdownTimeout="60000"
                 loggingEnabled="true"
                 logDirectory="iisnode"
                 debuggingEnabled="true"
                 debugHeaderEnabled="false"
                 debuggerPortRange="5058-6058"
                 debuggerPathSegment="debug"
                 maxLogFileSizeInKB="128"
                 maxTotalLogFileSizeInKB="1024"
                 maxLogFiles="20"
                 devErrorsEnabled="true"
                 flushResponse="false"
                 enableXFF="false"
                 promoteServerVars=""
                 configOverrides="iisnode.yml"
                 watchedFiles="web.config;*.js"
     nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" 
    interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
                />
  <handlers>
   <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
  </handlers>
  <rewrite>
   <rules>
    <rule name="myapp">
     <match url="/*" />
     <action type="Rewrite" url="server.js" />
    </rule>
   </rules>
  </rewrite>
  <directoryBrowse enabled="false"/>
 </system.webServer>
</configuration>